<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <link href="style/output.css" rel="stylesheet">
</head>

<body class="bg-creame" >
    <div id="home">


        <nav class="bg-[url('/style/images/texture.jpeg')] text-red-600 fixed w-full top-0 h-20 p-4 flex">

            <!-- <div name="q" hx-swap="innerHTML" hx-get="pages/home.html" hx-trigger="load" hx-target="#content" class="inline-block"></div> -->
            <button> <img class="h-16 bg-[url('/style/images/texture.jpeg')]" src="style/images/dino.gif"
                    width="200"></button>
            <button name="q" hx-swap="innerHTML" hx-get="pages/paras/test.html" hx-trigger="click" hx-target="#page"
                class="bg-red-800 text-white px-4 py-2 rounded-md ml-10 hover:bg-transparent">Show Images</button>
            <button name="q" hx-swap="innerHTML" hx-get="" hx-trigger="click" hx-target="#page"
                class="bg-red-800 text-white px-4 py-2 rounded-md ml-10 hover:bg-transparent">Show Images</button>
            <button name="q" hx-swap="innerHTML" hx-get="" hx-trigger="click" hx-target="#page"
                class="bg-red-800 text-white px-4 py-2 rounded-md ml-10 hover:bg-transparent">Show Images</button>
            <button name="q" hx-swap="innerHTML" hx-get="/pages/paras/test/test.html" hx-trigger="click"
                hx-target="#page"
                class="bg-red-800 text-white px-4 py-2 rounded-md ml-auto hover:bg-transparent">Para1</button>


            <button name="q" hx-swap="innerHTML" hx-get="" hx-trigger="click" hx-target="#page"
                class="bg-red-800 text-white px-4 py-2 rounded-md ml-auto hover:bg-transparent">Profile</button>


        </nav>


    </div>
    <div id="page" class="p-4 pt-60 mx-auto border-double w-1/3" ></div>
</body>

</html>