<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tetsIndex</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <link href="/style/output.css" rel="stylesheet">
</head>
<body>
    <div>
        <div>
    
        <button name="q" hx-swap="innerHTML" hx-get="/pages/paras/test/test.html" hx-trigger="click" hx-target="#pdfcontent" class="bg-red-800 text-white px-4 py-2 rounded-md ml-auto hover:bg-transparent" >Para1</button>
        <!-- <button name="q" hx-swap="innerHTML" hx-get="/pages/paras/home.html" hx-trigger="click" hx-target="#pdfcontent" class="bg-red-800 text-white px-4 py-2 rounded-md ml-auto hover:bg-transparent" >Para2</button> -->
        </div>
        <div id="pdfcontent"></div>
        
    </div>
    
    
</body>
</html>